{% extends 'layout.html' %}
{% block body_content %}

<h2>Add a stock</h2>
<form method='POST' action=''>
	{{ form.hidden_tag() }}
	{{ form.stockname.label }} {{ form.stockname }}<br>
	{{ form.stockprice.label }} {{ form.stockprice }}<br>
	{{ form.stockinstore.label }} {{ form.stockinstore }}<br>
	{{ form.stocktype.label }} {{ form.stocktype }}<br>
	{% if form.stockname.error %}
		{% for error in form.stockname.errors %}
			{{ error }}<br>
		{% endfor %}
	{% endif %}
	<br>
	{{ form.submit }}
</form>
{% endblock body_content %}
