{% extends 'layout.html' %}
{% block body_content %}
<a href='{{ url_for('add') }}'>Add a stock</a><br><br>

{% for stock in stocks %}
<b>{{ "Name: " }}</b> {{ stock.stockname }}<br>
<b>{{ "Price(£): " }}</b> {{ stock.stockprice|float }}<br>
<b>{{ "Stock in store: " }}</b> {{ stock.stockinstore }}<br>
<b>{{ "Type: " }}</b> {{ stock.stocktype }}

<form action='{{ url_for('update', id=stock.id) }}'>
            <input type=submit value="Update">
</form>

<form action='{{ url_for('delete', id=stock.id) }}'>
            <input type=submit value="Delete">
</form>

{% endfor %}


{% endblock body_content %}
